body {
  margin: 0;
  -ms-overflow-style: none;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

/* PopUp */

.popContainer {
  position: fixed;
  top: 42%;
  left: 65%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 20px;
  z-index: 10;
  background-color: white;
  width: 60%;
  max-width: 40em;
  height: 70%;
  max-height: 35em;
  transition: 200ms ease-in-out;
  background-image: url("./assets/computerPixelfinal.jpg");
  background-repeat: none;
  background-size: 100% 100%;
  font-family: 'Schoolbell', cursive;
  padding: 20px;
}

.popContainer.active {
  transform: translate(-50%, -50%);
}

/* Header */
.popHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 0.5em
}

.popHeader p {
  font-size: 2.2em;
  color: rgb(242, 234, 120);
  text-shadow: rgb(70, 70, 70) 3px 3px;
  margin: 0.3em;
}

.close-button {
  cursor: pointer;
  font-size: 2em;
  outline: none;
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0.5em;
  margin: 0;
}

/* Grid */
.popGrid {
  display: grid;
  grid-template-columns: 55% 35% 10%;
  grid-template-rows: auto;
  grid-gap: 5px;
  margin: 0 1em;
}

#labelName,
#inputName,
#labelEmail,
#inputEmail,
#labelMessage,
#inputMessage {
  grid-column: 1;
}

.popText {
  font-size: 1.2em;
  color: white;
  text-shadow: black 2px 2px;
  padding: 0;
  margin: 0.1em;
  text-align: start;
}

.popInput {
  width: 95%;
  font-size: 1.25rem;
  border-radius: 10px;
  padding: 0.5em 0.75em;
  opacity: 75%;
  font-size: 0.75em;
  background-color: none;
  outline: none;
  border: none;
}

#inputMessage {
  height: 10em;
  max-height: 10em;
  resize: none;
  width: 95%;
  font-size: 1.25rem;
  border-radius: 10px;
  padding: 0.5em 0.75em;
  opacity: 75%;
  font-size: 0.75em;
  background-color: none;
  outline: none;
  border: none;
}

.submitButton {
  position: absolute;
  bottom: 4%;
  right: 12%;
  grid-column: 3;
  grid-row: 6;
  cursor: pointer;
  background: none;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  width: 20%;
  height: 10%;
  color: rgb(137, 221, 88);
  font-family: 'Schoolbell', cursive;
  text-shadow: rgb(84, 84, 84) 3px 2px;
  letter-spacing: 0.15em;
  outline: none;
  border: none;
  background: none;
  text-align: end;
}

#overlay {
  z-index: 9;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(76, 60, 81);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 0.8;
  pointer-events: all;
}

.typewriter {
  position: absolute;
  top: 40%;
  right: 21%;
  display: flex;
  justify-content: start;
  grid-column: 2;
  grid-row: 4;
  width: 6em;
  height: 0.6em;
  line-height: 0.75em;
}

.typewriter h1 {
  padding-left: 30px;
  font-size: 0.35em;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .1em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em;
  /* Adjust as needed */
  animation:
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* Keyframes */

.close-button:hover {
  color: red;
  font-size: 2.5em;
  transform: rotate(15deg);
}

.submitButton:hover {
  color: rgb(213, 152, 251);

}

.popInput:focus-within,
#inputMessage:focus-within {
  opacity: 1;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange;
  }
}

/*Media Query */

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape)  {

  .popContainer {
    width: 60%;
    max-width: 700px;
    height: 80%;
    max-height: 750px;
    padding: 10px;
    margin: 35px 0px;
  }

  #inputMessage {
    height: 4em;
    max-height: 4em;
  }

  .popText {
    font-size: 0.75em;
  }

  .typewriter {
    right: 19%
  }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    .popContainer {
      width: 65%;
      max-width: 700px;
      height: 75%;
      max-height: 750px;
      padding: 20px;
    }
  
    #inputMessage {
      height: 15em;
      max-height:15em;
    }

}