/*Grid Layout */
#section-container {
    z-index: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16.4em, 1fr));
    column-count: 3;
    column-gap: 0.35em;
    grid-template-rows: repeat(auto-fill, minmax(12em, 1fr));
    row-gap: 0.35em;
    background-color: skyblue;
    border-top: 0.35em solid skyblue;
    grid-template-rows: repeat(6, 15em);
    margin: 0;
    -ms-overflow-style: none;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    object-fit: cover;
}

.textPanel{
    background-color: rgb(228, 228, 228);
    padding-top: 1.75em;
    line-height: 1em;
}

.wtitle {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
}

.description {
    font-family: monospace;
    font-size: 1.25em;
}

.commit {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
}

#section-container button {
    font-family: 'Schoolbell', cursive;
    height: 2.5em;
    font-size: 0.75em;
    letter-spacing: 0.15em;
    color: white;
    background-color: purple;
    border-radius: 10px;
    margin-right: 0.5em;
    text-decoration: none;
    padding: 0.75em 0.75em;
}

#section-container button:hover {
    opacity: 0.7;
    background-color: rgb(97, 162, 97);
}

/*Img Panels */

#w1IMG {
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
    background-image: url("./assets/week1.jpg");
    background-size: 220% 100%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    clip-path: polygon(100% 56%, 90% 75%, 96% 90%, 65% 100%, 0 100%, 0 0, 100% 0);
    -webkit-clip-path: polygon(100% 56%, 90% 75%, 96% 90%, 65% 100%, 0 100%, 0 0, 100% 0);
}

#w2IMG {
    z-index: 1;
    grid-column: 2;
    grid-row: 2;
    background-image: url("./assets/week2.jpg");  
    background-repeat: no-repeat;
    background-size: 200% 200%;
    background-position: 0% 80%;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 11% 76%, 0 53%, 0 0);
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 11% 76%, 0 53%, 0 0);
}

#w3IMG {
    z-index: 2;
    grid-column: 1;
    grid-row: 3;
    background-image: url("./assets/week3.jpg");  
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    clip-path: polygon(89% 25%, 100% 49%, 100% 100%, 0 100%, 0 76%, 0 0, 100% 0);
    -webkit-clip-path: polygon(89% 25%, 100% 49%, 100% 100%, 0 100%, 0 76%, 0 0, 100% 0);
    width: 100%;
    height: 100%;
}

#w4IMG {
    z-index: 2;
    grid-column: 3;
    grid-row: 3;
    background-image: url("./assets/week4.jpg");  
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 100%, 79% 75%, 56% 100%, 0 100%, 0 51%);
    -webkit-clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 100%, 79% 75%, 56% 100%, 0 100%, 0 51%);
}

#w5IMG {
    z-index: 2;
    grid-column: 2;
    grid-row: 4;
    background-image: url("./assets/week5.jpg");  
    background-size: 215% 185%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    clip-path: polygon(13% 49%, 0 31%, 0 0, 100% 0, 100% 100%, 48% 100%, 0 100%, 0 67%);
    -webkit-clip-path: polygon(13% 49%, 0 31%, 0 0, 100% 0, 100% 100%, 48% 100%, 0 100%, 0 67%);
}

#w6IMG {
    z-index: 2;
    grid-column: 3;
    grid-row: 5;
    background-image: url("./assets/week6.jpg");  
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clip-path: polygon(19% 0, 100% 0, 100% 100%, 0 100%, 0 57%, 0 24%);
    -webkit-clip-path: polygon(19% 0, 100% 0, 100% 100%, 0 100%, 0 57%, 0 24%);
}

#w7IMG {
    z-index: 2;
    grid-column: 2;
    grid-row: 6;
    background-image: url("./assets/week7.jpg");  
    background-size: 180% 150%;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 60%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 60%);
}

/* Text panels */ 

#week1 {
    z-index: 1;
    grid-column: 2;
    grid-row: 1;
    clip-path: polygon(35% 100%, 17% 100%, 0 100%, 0 0, 79% 0, 90% 13%, 100% 0, 100% 100%);
    -webkit-clip-path: polygon(35% 100%, 17% 100%, 0 100%, 0 0, 79% 0, 90% 13%, 100% 0, 100% 100%);
}


#week2 {
    z-index: 0;
    grid-column: 1;
    grid-row: 2;
    clip-path: polygon(100% 0, 100% 100%, 27% 100%, 19% 85%, 8% 86%, 0 74%, 0 0);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 27% 100%, 19% 85%, 8% 86%, 0 74%, 0 0);
}

#week3 {
    z-index: 1;
    grid-column: 2;
    grid-row: 3;
    clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 100%, 58% 100%, 0 100%, 14% 74%, 0 51%);
    -webkit-clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 100%, 58% 100%, 0 100%, 14% 74%, 0 51%);
}

#week4 {
    z-index: 1;
    grid-column: 3;
    grid-row: 4;
    clip-path: polygon(35% 100%, 17% 100%, 0 73%, 0 0, 79% 0, 90% 13%, 100% 0, 100% 100%);
    -webkit-clip-path: polygon(35% 100%, 17% 100%, 0 73%, 0 0, 79% 0, 90% 13%, 100% 0, 100% 100%);
}

#week5 {
    z-index: 1;
    grid-column: 1;
    grid-row: 4;
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 30%, 100% 64%, 89% 81%, 100% 100%, 64% 100%);
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 30%, 100% 64%, 89% 81%, 100% 100%, 64% 100%);
}

#week6 {
    z-index: 1;
    grid-column: 2;
    grid-row: 5;
    clip-path: polygon(0 100%, 0 0, 90% 0, 87% 11%, 97% 15%, 94% 29%, 100% 43%, 100% 100%);
    -webkit-clip-path: polygon(0 100%, 0 0, 90% 0, 87% 11%, 97% 15%, 94% 29%, 100% 43%, 100% 100%);
}

#week7 {
    z-index: 1;
    grid-column: 3;
    grid-row: 6;
    clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
}

#week1, #week3, #week6 {
    text-align: center;
}

#week2, #week5 {
    text-align: start;
    padding-left: 2.5em;
}

#week4, #week7 {
    text-align: end;
    padding-right: 2.5em;
}

/* Extra Panels */

.portfolio {
    position: relative;
    background-color: rgb(240, 92, 92);
    color: rgb(0, 0, 0);
    grid-column: 3;
    grid-row: 1 / 3;
    clip-path: polygon(100% 67%, 91% 77%, 94% 91%, 65% 100%, 0 100%, 0 0, 100% 0);
    -webkit-clip-path: polygon(100% 67%, 91% 77%, 94% 91%, 65% 100%, 0 100%, 0 0, 100% 0);
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
    text-align: end;
    padding: 0.2em 0.3em;
    padding-right: 0.5em;
    line-height: 1em;
}

.message {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.45em;
    text-align: start;
    padding: 1.85em 0.6em;
    clip-path: polygon(50% 0%, 100% 0, 100% 77%, 72% 100%, 49% 83%, 31% 100%, 15% 100%, 8% 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 77%, 72% 100%, 49% 83%, 31% 100%, 15% 100%, 8% 100%, 0 100%, 0 0);
    background-color: rgb(87, 155, 87);
    grid-column: 1;
    grid-row: 5 / 7;
    line-height: 1.65em;
}

footer {
    background-color: rgb(53, 53, 53);
    grid-column: 1 / 4;
    grid-row: 7;
    clip-path: polygon(0 0, 9% 0, 26% 65%, 45% 0, 100% 0, 100% 32%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 9% 0, 26% 65%, 45% 0, 100% 0, 100% 32%, 100% 100%, 0 100%);
    height: 100%;
    margin-bottom: 0;
}

footer p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
    color: rgb(244, 141, 189);
    text-align: end;
    padding-right: 3em;
}


/* Extra Features */

.hide {
    display: none;
}

.socialMedia {
    flex-direction: row;
    position: absolute;
    bottom: 12%;
    left: 12%;
}

.fa {
    padding: 0.2em;
    width: 2em;
    text-decoration: none;
    border-radius: 20px;
}

/* Icon size */
.portfolio a {
    font-size: 0.75em;
    text-align: center;
    padding: 0.25em;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github-alt {
    background: rgb(27, 25, 55);
    color: white;
}

.fa:hover {
    opacity: 0.7;
    background-color: orange;
}

/* Tooltips */

.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black;
}

.tooltiptext {
    position: absolute;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    z-index: 1;
    width: 8.5em;
    color: #fff;
    border-radius: 16px;
    padding: 0.75em;
    font-size: 0.75em;
    margin: 0;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}

.text1 {
    top: 60%;
    left: 5%;
    width: 60%;
    background: rgba(29, 106, 154, 0.72);
    text-align: start;
}

.text2 {
    top: 15%;
    right: 8%;
    width: 40%;
    background: rgba(182, 64, 145, 0.72);
    text-align: end;
}

.text3 {
    top: 20%;
    left: 3%;
    background: rgba(85, 255, 0, 0.72);
    text-align: start;
    width: 25%;
    height: 67%;
}

.text3::after {
    content: " ";
    position: absolute;
    /* At the bottom of the tooltip */
    left: 100%;
    top: 70%;
    border-width: 15px;
    border-style: solid;
    border-color: transparent  transparent transparent rgba(85, 255, 0, 0.72);
  }

.text4 {
    top: 10%;
    left: 4%;
    background: white;
    text-align: start;
    color: black;
}

.text5 {
    top: 15%;
    right: 5%;
    background: rgba(251, 255, 0, 0.72);
    text-align: start;
    color: black;
    width: 35%;
    height: 40%;
}

.text6 {
    top: 16%;
    right: 5%;
    width: 45%;
    background:rgb(255, 255, 255);
    text-align: end;
    opacity: 0.5;
    color: black;
}

.text7 {
    top: 8%;
    left: 8%;
    background: rgba(80, 157, 245, 0.639);
    text-align: start;
    width: 55%;
}

/*media queries */
@media screen and (max-width: 1400px){

    .portfolio {
        font-size: 2.2em;
        line-height: 1.2em;
        padding-right: 0.75em;
    }

    .portfolio a {
        font-size: 0.75em;
        line-height: 1em;
    }

    .wtitle{
        font-size: 1.2em;
    }

    .description {
        font-size: 1.2em;
    }

    .commit {
        font-size: 0.75em;
    }

    #section-container button {
        font-size: 0.65em;
        width: 5.5em;
        line-height: 0.8em;
    }

}

@media screen and (max-width: 1000px){

    .portfolio {
        font-size: 1.85em;
        line-height: 1.25em;
        padding-right: 1em;
    }

    .socialMedia{
        bottom: 8%;
    }

    .fa {
        padding: 0.2em;
        width: 2.25em;
        text-decoration: none;
        border-radius: 20px;
    }
    .portfolio a {
        font-size: 0.75em;
        text-align: center;
        padding: 0.5em;
    }

    .wtitle{
        font-size: 1.2em;
    }

    .description {
        font-size: 1.2em;
    }

    .commit {
        font-size: 0.75em;
    }

    #section-container button {
        padding: 0.25em;
    }
    
    .message {
        padding: 1em 1em;
        font-size: 1.3em;
    }
    
    #week2, #week5 {
        text-align: start;
        padding-left: 1em;
    }
    
    #week4, #week7 {
        text-align: end;
        padding-right: 1em;
    }

}