/* Slideshow container */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -ms-overflow-style: none;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

nav {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.slideshow-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

/* Text */
.titleText {
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-shadow: black 5px 5px;
  z-index: 8;
}

#hello {
  position: absolute;
  font-size: 4.5em;
  right: 5%;
}

#name1 {
  position: absolute;
  font-size: 8.5em;
  top: 8%;
  right: 2%;
}

#name2 {
  position: absolute;
  font-size: 8.5em;
  right: 7%;
  top: 32%;
}

/* Title Buttons */
.buttonSeq {
  position: absolute;
  bottom: 1%;
  left: 5%;
  z-index: 8;
}

.titleButton{
  font-family: 'Permanent Marker', cursive;
  font-size: 20%;
  padding: 2rem;
  color: white;
  text-shadow: black 5px 5px;
  background-color: transparent;
  outline: none;
  border: none;
  flex-direction: row;
  font-size: 1.7em;
}

#home:hover {
  color: rgb(255, 234, 75);
}

#project:hover {
  color: rgb(175, 255, 175);
}

#contact:hover {
  color: rgb(218, 140, 196);
}

/* SlideShow */
.imageSlide {
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  margin-left: auto;
}

.titleSeq1,
.titleSeq2,
.titleSeq3,
.titleSeq4,
.titleSeq5 {
  width: 100%;
  height: 100%;
}

.house {
  z-index: 7;
  position: absolute;
  width: 4.2em;
  height: 4.5em;
  bottom: 4%;
  right: 22%;
  background-color: rgb(147, 88, 0);
  clip-path: polygon(48% 1%, 0 65%, 18% 66%, 20% 100%, 40% 100%, 39% 80%, 53% 78%, 53% 100%, 72% 100%, 87% 100%, 87% 69%, 100% 67%, 85% 42%, 91% 26%, 79% 15%, 73% 26%);
  -webkit-clip-path: polygon(48% 1%, 0 65%, 18% 66%, 20% 100%, 40% 100%, 39% 80%, 53% 78%, 53% 100%, 72% 100%, 87% 100%, 87% 69%, 100% 67%, 85% 42%, 91% 26%, 79% 15%, 73% 26%);
  animation: house 14s forwards;
  opacity: 1;
  border-bottom: rgb(18, 52, 18) double 0.3em;
}

.smoke {
  z-index: 6;
  position: absolute;
  width: 6.5em;
  height: 20em;
  bottom: 15.5%;
  right: 16.5%;
  background-color: grey;
  clip-path: polygon(30% 28%, 38% 12%, 56% 0, 70% 0, 45% 18%, 61% 13%, 53% 30%, 62% 44%, 44% 66%, 35% 100%, 39% 53%, 38% 37%);
  -webkit-clip-path: polygon(30% 28%, 38% 12%, 56% 0, 70% 0, 45% 18%, 61% 13%, 53% 30%, 62% 44%, 44% 66%, 35% 100%, 39% 53%, 38% 37%);
  animation: smoke 12s infinite;
  animation-delay: 12s;
  opacity: 0;
}

.titleSeq1 {
  position: absolute;
  z-index: 5;
  background-color: rgb(57, 171, 57);
  animation: 5s green;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
  -webkit-clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
}

.titleSeq2 {
  position: absolute;
  z-index: 4;
  background-color: orange;
  animation: 4s orange;
  animation-fill-mode: forwards;
  animation-delay: 5s;
  clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
  -webkit-clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
}

.titleSeq3 {
  position: absolute;
  z-index: 3;
  background-color: palevioletred;
  animation: 8s pink;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
  -webkit-clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
  animation-fill-mode: forwards;
}

.titleSeq4 {
  position: absolute;
  z-index: 2;
  background-color: skyblue;
  animation: 4s skyblue;
  animation-fill-mode: forwards;
  clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
  -webkit-clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
}

.titleSeq5 {
  position: absolute;
  z-index: 0;
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.moon {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  left: 0;
  background-color: rgb(215, 213, 169);
  clip-path: circle(10% at 16% 26%);
  -webkit-clip-path: circle(10% at 16% 26%);
  opacity: 1;
  animation: 12s moon;
  animation-fill-mode: forwards;
}

/* Keyframes  */
@keyframes green {
  0% {
    clip-path: polygon(100% 100%, 80% 100%, 53% 100%, 38% 100%, 20% 100%, 0 100%);
    -webkit-clip-path: polygon(100% 100%, 80% 100%, 53% 100%, 38% 100%, 20% 100%, 0 100%)
  }

  25% {
    clip-path: polygon(100% 100%, 80% 100%, 46% 94%, 45% 80%, 20% 100%, 0 100%);
    -webkit-clip-path: polygon(100% 100%, 80% 100%, 53% 100%, 38% 100%, 20% 100%, 0 100%)
  }

  50% {
    clip-path: polygon(100% 100%, 77% 100%, 51% 88%, 26% 75%, 15% 94%, 0 100%);
    -webkit-clip-path: polygon(100% 100%, 77% 100%, 51% 88%, 26% 75%, 15% 94%, 0 100%);
  }

  75% {
    clip-path: polygon(100% 100%, 91% 100%, 60% 94%, 32% 90%, 15% 94%, 0 100%);
    -webkit-clip-path: polygon(100% 100%, 91% 100%, 60% 94%, 32% 90%, 15% 94%, 0 100%);
  }

  100% {
    clip-path: polygon(91% 100%, 80% 86%, 60% 100%, 45% 96%, 28% 85%, 14% 100%);
    -webkit-clip-path: polygon(91% 100%, 80% 86%, 60% 100%, 45% 96%, 28% 85%, 14% 100%);
  }
}

@keyframes orange {
  0% {
    clip-path: polygon(100% 100%, 80% 100%, 63% 100%, 38% 100%, 19% 100%, 0 100%);
    -webkit-clip-path: polygon(100% 100%, 80% 100%, 63% 100%, 38% 100%, 19% 100%, 0 100%)
  }

  25% {
    clip-path: polygon(100% 100%, 83% 91%, 71% 99%, 38% 100%, 19% 100%, 0 100%);
    -webkit-clip-path: polygon(100% 100%, 83% 91%, 71% 99%, 38% 100%, 19% 100%, 0 100%);
  }

  50% {
    clip-path: polygon(100% 100%, 81% 84%, 68% 95%, 38% 100%, 25% 84%, 0 100%);
    -webkit-clip-path: polygon(100% 100%, 81% 84%, 68% 95%, 38% 100%, 25% 84%, 0 100%);
  }

  75% {
    clip-path: polygon(100% 100%, 68% 100%, 58% 85%, 38% 100%, 15% 91%, 0 100%);
    -webkit-clip-path: polygon(100% 100%, 68% 100%, 58% 85%, 38% 100%, 15% 91%, 0 100%);
  }

  100% {
    clip-path: polygon(100% 100%, 76% 93%, 42% 77%, 32% 94%, 15% 91%, 0 100%);
    -webkit-clip-path: polygon(100% 100%, 76% 93%, 42% 77%, 32% 94%, 15% 91%, 0 100%);
  }
}

@keyframes pink {
  0% {
    clip-path: polygon(100% 100%, 83% 100%, 70% 100%, 49% 100%, 16% 100%, 0 100%);
    -webkit-clip-path: polygon(100% 100%, 83% 100%, 70% 100%, 49% 100%, 16% 100%, 0 100%);
  }

  25% {
    clip-path: polygon(100% 100%, 69% 100%, 52% 100%, 33% 100%, 13% 83%, 0 100%);
    -webkit-clip-path: polygon(100% 100%, 69% 100%, 52% 100%, 33% 100%, 13% 83%, 0 100%);
  }

  50% {
    clip-path: polygon(100% 100%, 75% 100%, 40% 68%, 33% 100%, 19% 84%, 0 100%);
    -webkit-clip-path: polygon(100% 100%, 75% 100%, 40% 68%, 33% 100%, 19% 84%, 0 100%);
  }

  75% {
    clip-path: polygon(100% 100%, 86% 70%, 59% 81%, 33% 100%, 22% 68%, 0 100%);
    -webkit-clip-path: polygon(100% 100%, 86% 70%, 59% 81%, 33% 100%, 22% 68%, 0 100%);
  }

  100% {
    clip-path: polygon(100% 100%, 86% 70%, 57% 89%, 36% 100%, 16% 76%, 0 100%);
    -webkit-clip-path: polygon(100% 100%, 86% 70%, 57% 89%, 36% 100%, 16% 76%, 0 100%);
  }
}

@keyframes skyblue {
  0% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 76% 100%, 63% 100%, 53% 100%, 27% 100%, 15% 100%);
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 76% 100%, 63% 100%, 53% 100%, 27% 100%, 15% 100%);
  }

  33% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 61% 70%, 68% 89%, 53% 100%, 33% 83%, 15% 100%);
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 61% 70%, 68% 89%, 53% 100%, 33% 83%, 15% 100%);
  }

  66% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 77% 38%, 72% 82%, 60% 94%, 44% 60%, 29% 86%);
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 77% 38%, 72% 82%, 60% 94%, 44% 60%, 29% 86%);
  }

  100% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 93% 4%, 79% 62%, 59% 84%, 56% 33%, 33% 78%);
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 93% 4%, 79% 62%, 59% 84%, 56% 33%, 33% 78%)
  }
}

@keyframes house {
  0% {
    opacity: 0%;
    -webkit-filter: opacity(0.0);
  }

  50% {
    opacity: 0%;
    -webkit-filter: opacity(0);
  }

  100% {
    opacity: 100%;
    -webkit-filter: opacity(1);
  }
}

@keyframes smoke {
  0% {
    clip-path: polygon(30% 28%, 38% 12%, 56% 0, 70% 0, 45% 18%, 61% 13%, 53% 30%, 62% 44%, 44% 66%, 35% 100%, 39% 53%, 38% 37%);
    opacity: 50%;
    -webkit-clip-path: polygon(30% 28%, 38% 12%, 56% 0, 70% 0, 45% 18%, 61% 13%, 53% 30%, 62% 44%, 44% 66%, 35% 100%, 39% 53%, 38% 37%);
    -webkit-filter: opacity(0.5);
  }

  20% {
    clip-path: polygon(56% 28%, 38% 12%, 19% 0, 4% 0, 45% 18%, 50% 32%, 40% 40%, 75% 43%, 54% 67%, 35% 100%, 51% 50%, 61% 49%);
    -webkit-clip-path: polygon(56% 28%, 38% 12%, 19% 0, 4% 0, 45% 18%, 50% 32%, 40% 40%, 75% 43%, 54% 67%, 35% 100%, 51% 50%, 61% 49%);
    opacity: 70%;
    -webkit-filter: opacity(0.7);
  }

  40% {
    clip-path: polygon(68% 17%, 55% 10%, 60% 0, 44% 0, 44% 15%, 35% 21%, 47% 28%, 44% 39%, 48% 66%, 35% 100%, 33% 57%, 38% 50%);
    -webkit-clip-path: polygon(68% 17%, 55% 10%, 60% 0, 44% 0, 44% 15%, 35% 21%, 47% 28%, 44% 39%, 48% 66%, 35% 100%, 33% 57%, 38% 50%);
    opacity: 40%;
    -webkit-filter: opacity(0.4);
  }

  60% {
    clip-path: polygon(58% 30%, 34% 33%, 17% 21%, 44% 0, 26% 4%, 29% 23%, 47% 28%, 44% 39%, 61% 70%, 35% 100%, 51% 64%, 43% 50%);
    -webkit-clip-path: polygon(58% 30%, 34% 33%, 17% 21%, 44% 0, 26% 4%, 29% 23%, 47% 28%, 44% 39%, 61% 70%, 35% 100%, 51% 64%, 43% 50%);
    -webkit-filter: opacity(0.6);
    opacity: 60%;
  }

  80% {
    clip-path: polygon(69% 32%, 48% 30%, 43% 23%, 72% 0, 56% 0, 46% 15%, 62% 23%, 57% 36%, 67% 50%, 35% 100%, 61% 80%, 49% 47%);
    -webkit-clip-path: polygon(69% 32%, 48% 30%, 43% 23%, 72% 0, 56% 0, 46% 15%, 62% 23%, 57% 36%, 67% 50%, 35% 100%, 61% 80%, 49% 47%);
    opacity: 45%;
    -webkit-filter: opacity(0.45);
  }

  100% {
    clip-path: polygon(30% 28%, 38% 12%, 56% 0, 70% 0, 45% 18%, 61% 13%, 53% 30%, 62% 44%, 44% 66%, 35% 100%, 39% 53%, 38% 37%);
    -webkit-clip-path: polygon(30% 28%, 38% 12%, 56% 0, 70% 0, 45% 18%, 61% 13%, 53% 30%, 62% 44%, 44% 66%, 35% 100%, 39% 53%, 38% 37%);
    opacity: 50%;
    -webkit-filter: opacity(0.5);
  }
}

@keyframes moon {
  0% {
    clip-path: circle(20% at 100% 100%);
    -webkit-clip-path: circle(20% at 100% 100%);
    opacity: 0;
    -webkit-filter: opacity(0);
  }

  50% {
    opacity: 0;
    -webkit-filter: opacity(0);
  }

  100% {
    clip-path: circle(10% at 16% 26%);
    -webkit-clip-path: circle(10% at 16% 26%);
    opacity: 1;
    -webkit-filter: opacity(1);
  }
}