/* Reset Code */

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
}

/* Hide the images by default */
body {
  margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}

.mySlides {
  display: none;
}

.imageSlide {
  width: 100%;
  height: 90vh;
  display: block;
  border-bottom: rgb(57, 171, 57) 5vh solid;
}

#hi {
  z-index: 7;
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  font-size:10vh;
  text-align: end;
  right: 6vw;
  padding: 10px;
  color: white;
  text-shadow: black 5px 5px;
}

#name1{
  z-index: 7;
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  font-size: 27vh;
  text-align: start;
  padding: 10px;
  right: 1vw;
  color: white;
  text-shadow: black 5px 5px;
}

#name2{
  z-index: 7;
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  font-size: 25vh;
  text-align: end;
  top: 28vh;
  right: 9vw;
  padding: 10px;
  color: white;
  text-shadow: black 5px 5px;
}

.buttonSeq {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#project {
  z-index: 7;
  position: absolute;
  left: 5%;
  bottom: 8%;
  font-family: 'Permanent Marker', cursive;
  font-size: 4vh;
  color: white;
  text-shadow: black 5px 5px;
  background-color: transparent;
  outline:none;
  border: none;
}

#media {
  z-index: 7;
  position: absolute;
  left: 20%;
  bottom: 8%;
  font-family: 'Permanent Marker', cursive;
  font-size: 4vh;
  color: white;
  text-shadow: black 5px 5px;
  background-color: transparent;
  outline:none;
  border: none;
}

#contact {
  z-index: 7;
  position: absolute;
  left: 32%;
  bottom: 8%;
  font-family: 'Permanent Marker', cursive;
  font-size: 4vh;
  color: white;
  text-shadow: black 5px 5px;
  background-color: transparent;
  outline:none;
  border: none;
}

#project:hover {
  color: rgb(175, 255, 175);
  font-size: 3rem;
}

#media:hover {
  color: rgb(255, 234, 75);
  font-size: 3rem;
}

#contact:hover {
  color: rgb(218, 140, 196);
  font-size: 3rem;
}

.titleSeq1, .titleSeq2, .titleSeq3, .titleSeq4, .titleSeq5, .titleSeq6 {
  width: 100%;
  height: 100vh;
  clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
}

.house {
  z-index: 7;
  position: absolute;
  width: 15vh;
  height: 12vh;
  bottom: -4%;
  right: 28%;
  background-color: rgb(147, 88, 0);
  clip-path: polygon(48% 1%, 0 65%, 18% 66%, 20% 100%, 40% 100%, 39% 80%, 53% 78%, 53% 100%, 72% 100%, 87% 100%, 87% 69%, 100% 67%, 85% 42%, 91% 26%, 79% 15%, 73% 26%);
  animation: house 2s forwards;
  animation-delay: 8s;
  opacity: 0;
  border-bottom: rgb(18, 52, 18) double 1vh;
}


.smoke {
  z-index: 6;
  position: absolute;
  width: 15vh;
  height: 30vh;
  bottom: 6%;
  right: 24.6%;
  background-color: grey;
  clip-path: polygon(48% 5%, 49% 43%, 57% 61%, 45% 90%, 25% 100%, 43% 69%, 24% 61%);
  animation: smoke 16s infinite;
  animation-delay: 12s;
  opacity: 0;
}

.titleSeq1 {
  position: absolute;
  z-index: 5;
  background-color: rgb(57, 171, 57);
  animation: 5s green;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
}

.titleSeq2 {
  position: absolute;
  z-index: 4;
  background-color: orange;
  animation: 4s orange;
  animation-fill-mode: forwards;
  animation-delay: 5s;
  clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
}

.titleSeq3 {
  position: absolute;
  z-index: 3;
  background-color:palevioletred; 
  animation: 8s pink;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
  animation-fill-mode: forwards;
}

.titleSeq4 {
  position: absolute;
  z-index: 2;
  background-color: skyblue;
  animation: 4s skyblue;
  animation-fill-mode: forwards;
  clip-path: polygon(48% 100%, 100% 100%, 76% 100%, 64% 100%, 31% 100%, 19% 100%, 0 100%);
}

.titleSeq5 {
  position: absolute;
  z-index: 1;
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.titleSeq6 {
  position: absolute;
  z-index: 6;
  background-color: rgb(174, 174, 174);
  clip-path: circle(12.2% at 16% 27%);
}

/* Keyframes  */
@keyframes house {
  0%   {opacity: 20%}
  50% {opacity: 50%}
  100% {opacity: 100%}
}

@keyframes green{
0% {clip-path: polygon(100% 100%, 80% 100%, 53% 100%, 38% 100%, 20% 100%, 0 100%);}
25% {clip-path: polygon(100% 100%, 80% 100%, 46% 94%, 45% 80%, 20% 100%, 0 100%);}
50% {clip-path: polygon(100% 100%, 77% 100%, 51% 88%, 26% 75%, 15% 94%, 0 100%);}
75% {clip-path: polygon(100% 100%, 91% 100%, 60% 94%, 32% 90%, 15% 94%, 0 100%);}
100% {clip-path: polygon(91% 100%, 80% 86%, 60% 100%, 45% 96%, 28% 85%, 14% 100%);}
}

@keyframes orange{
  0% {clip-path: polygon(100% 100%, 80% 100%, 63% 100%, 38% 100%, 19% 100%, 0 100%);}
  25% {clip-path: polygon(100% 100%, 83% 91%, 71% 99%, 38% 100%, 19% 100%, 0 100%);}
  50% {clip-path: polygon(100% 100%, 81% 84%, 68% 95%, 38% 100%, 25% 84%, 0 100%);}
  75% {clip-path: polygon(100% 100%, 68% 100%, 58% 85%, 38% 100%, 15% 91%, 0 100%);}
  100% {clip-path: polygon(100% 100%, 76% 93%, 42% 77%, 32% 94%, 15% 91%, 0 100%);}
}

@keyframes pink{
0% {clip-path: polygon(100% 100%, 83% 100%, 70% 100%, 49% 100%, 16% 100%, 0 100%);}
25% {clip-path: polygon(100% 100%, 69% 100%, 52% 100%, 33% 100%, 13% 83%, 0 100%);}
50% {clip-path: polygon(100% 100%, 75% 100%, 40% 68%, 33% 100%, 19% 84%, 0 100%);}
75% {clip-path: polygon(100% 100%, 86% 70%, 59% 81%, 33% 100%, 22% 68%, 0 100%);}
100% {clip-path: polygon(100% 100%, 86% 70%, 57% 89%, 36% 100%, 16% 76%, 0 100%);}
}

@keyframes skyblue {
  0% {clip-path: polygon(0 100%, 100% 100%, 100% 100%, 76% 100%, 63% 100%, 53% 100%, 27% 100%, 15% 100%);}
33% {clip-path: polygon(0 100%, 100% 100%, 100% 100%, 61% 70%, 68% 89%, 53% 100%, 33% 83%, 15% 100%);}
66% {clip-path: polygon(0 100%, 100% 100%, 100% 100%, 77% 38%, 72% 82%, 60% 94%, 44% 60%, 29% 86%);}
100% {clip-path: polygon(0 100%, 100% 100%, 100% 100%, 93% 4%, 79% 62%, 59% 84%, 56% 33%, 33% 78%);}
}

@keyframes smoke {
  0% {clip-path: polygon(36% 0, 44% 28%, 52% 59%, 43% 76%, 44% 100%, 30% 100%, 30% 84%, 56% 22%);; opacity: 30%}
20%{clip-path: polygon(74% 21%, 44% 8%, 68% 39%, 86% 61%, 44% 100%, 30% 100%, 65% 82%, 69% 56%); opacity: 50%}
40% {clip-path: polygon(46% 28%, 72% 3%, 46% 50%, 28% 72%, 44% 100%, 30% 100%, 32% 53%, 71% 40%);opacity: 80%}
60% {clip-path: polygon(73% 23%, 59% 0, 65% 37%, 56% 68%, 44% 100%, 30% 100%, 57% 86%, 38% 51%); opacity: 100%}
80% {clip-path: polygon(78% 1%, 37% 36%, 53% 70%, 23% 66%, 44% 100%, 30% 100%, 33% 79%, 50% 41%);opacity: 40%}
100% {clip-path: polygon(36% 0, 44% 28%, 52% 59%, 43% 76%, 44% 100%, 30% 100%, 30% 84%, 56% 22%); opacity: 30%}
}
/* Grid layout */

#section-container {
  z-index: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-flow: dense;
  background-color: skyblue;
  border-top: 3vh solid skyblue;
  margin-top: 5vh;

}

.portfolio {
  background-color: rgb(240, 92, 92);
  grid-column: 3;
  grid-row: 1 / 3;
  clip-path: polygon(100% 67%, 91% 77%, 94% 91%, 65% 100%, 0 100%, 0 0, 100% 0);
  font-family: 'Permanent Marker', cursive;
  font-size: 7vh;
  text-align: center;
  padding-left: 20px;
}

.w1IMG {
  z-index: 2;
  grid-column: 1;
  grid-row: 1;
  object-fit: cover;
  object-position: 50% 0;
  clip-path: polygon(100% 56%, 90% 75%, 96% 90%, 65% 100%, 0 100%, 0 0, 100% 0);
  width: 100%;
  height: 100%;
}

.week1 {
  padding: 2vh 0;
  z-index: 1;
  grid-column: 2;
  grid-row: 1;
  clip-path: polygon(35% 100%, 17% 100%, 0 100%, 0 0, 79% 0, 90% 13%, 100% 0, 100% 100%);
  background-color: snow;
  height: 45vh;
}

.w2IMG {
  z-index: 1;
  grid-column: 2;
  grid-row: 2;
  object-fit: cover;
  object-position: 0% 0;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 11% 76%, 0 53%, 0 0);
  width: 100%;
  height: 100%;
}

.week2 {
  padding: 2vh 0;
  z-index: 0;
  grid-column: 1;
  grid-row: 2;
  clip-path: polygon(100% 0, 100% 100%, 27% 100%, 19% 85%, 8% 86%, 0 74%, 0 0);
  background-color: snow;
  height: 45vh;
}

.w3IMG {
  z-index: 2;
  grid-column: 1;
  grid-row: 3;
  object-fit: cover;
  object-position: 50% 0;
  clip-path: polygon(89% 25%, 100% 49%, 100% 100%, 0 100%, 0 76%, 0 0, 100% 0);
  width: 100%;
  height: 100%;
}

.week3 {
  padding: 2vh 0;
  z-index: 1;
  grid-column: 2;
  grid-row: 3;
  clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 100%, 58% 100%, 0 100%, 14% 74%, 0 51%);
  background-color: snow;
  height: 45vh;
}

.w4IMG {
  z-index: 2;
  grid-column: 3;
  grid-row: 3;
  object-fit: cover;
  object-position: 50% 0;
  clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 100%, 79% 75%, 56% 100%, 0 100%, 0 51%);
  width: 100%;
  height: 100%;
}

.week4 {
  padding: 2vh 0;
  z-index: 1;
  grid-column: 3;
  grid-row: 4;
  clip-path: polygon(35% 100%, 17% 100%, 0 73%, 0 0, 79% 0, 90% 13%, 100% 0, 100% 100%);
  background-color: snow;
  width: 100%;
  height: 45vh;
}

.w5IMG {
  z-index: 2;
  grid-column: 2;
  grid-row: 4;
  object-fit: cover;
  object-position: 90% 0;
  clip-path: polygon(13% 49%, 0 31%, 0 0, 100% 0, 100% 100%, 48% 100%, 0 100%, 0 67%);
  width: 100%;
  height: 100%;
}

.week5 {
  padding: 2vh 0;
  z-index: 1;
  grid-column: 1;
  grid-row: 4;
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 30%, 100% 64%, 89% 81%, 100% 100%, 64% 100%);
  background-color: snow;
  height: 45vh;
}

.w6IMG {
  z-index: 2;
  grid-column: 3;
  grid-row: 5;
  object-fit: cover;
  object-position: 0% 0;
  clip-path: polygon(19% 0, 100% 0, 100% 100%, 0 100%, 0 57%, 0 24%);
  width: 100%;
  height: 100%;
}

.week6 {
  padding: 2vh 0;
  z-index: 1;
  grid-column: 2;
  grid-row: 5;
  clip-path: polygon(0 100%, 0 0, 90% 0, 87% 11%, 97% 15%, 94% 29%, 100% 43%, 100% 100%);
  background-color: snow;
  height: 45vh;
}

.w7IMG {
  z-index: 2;
  grid-column: 2;
  grid-row: 6;
  object-fit: cover;
  object-position: 50% 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 60%);
  width: 100%;
  height: 100%;
}

.week7 {
  padding: 2vh 0;
  z-index: 1;
  grid-column: 3;
  grid-row: 6;
  clip-path: polygon(100% 0, 100% 100%, 77% 100%, 57% 89%, 38% 100%, 0 100%, 0 0);
  background-color: snow;
  width: 100%;
  height: 45vh;
}

.message {
  color: white;
  padding: 10px;
  font-family: 'Permanent Marker', cursive;
  font-size: 5vh;
  text-align: start;
  padding-left: 30px;
  clip-path: polygon(50% 0%, 100% 0, 100% 77%, 72% 100%, 49% 83%, 31% 100%, 15% 100%, 8% 100%, 0 100%, 0 0);
  background-color: rgb(87, 155, 87);
  grid-column: 1;
  grid-row: 5 / 7;
  line-height: 8vh;
}

.wtitle {
  font-family: 'Permanent Marker', cursive;
  font-size: 5vh;
}

.description {
  font-family: monospace;
  font-size: 4vh;
}
.commit{
  font-size: 3vh;
}

#section-container button {
  font-family: 'Permanent Marker', cursive;
  height: 6vh;
  font-size: 3vh;
  color: white;
  background-color: purple;
  border-radius: 10px;
  text-decoration: none;
}

.mod {
  color: orange;
  font-family: monospace;
  font-size: 1.2em;
}

footer {
  background-color: rgb(53, 53, 53);
  grid-column: 1 / 4;
  grid-row: 7;
  clip-path: polygon(0 0, 9% 0, 26% 65%, 45% 0, 100% 0, 100% 32%, 100% 100%, 0 100%);
}

footer p {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.5rem;
  color: pink;
  text-align: end;
  padding-right: 5vw;
}

.hide {
  display: none;
}

.fa {
  padding: 20px;
  width: 5vw;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github-alt {
  background: rgb(27, 25, 55);
  color: white;
}

.fa:hover {
  opacity: 0.7;
  background-color: orange;
}

#section-container button:hover {
  opacity: 0.7;
  background-color: rgb(97, 162, 97);
}